.root {
    -fx-background-color: #1554b3;
    -fx-text-fill: white;
    -fx-padding: 20;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.text-field, .password-field, .date-picker {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1554b3;
    -fx-pref-width: 250px;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1554b3;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #1554b3;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #0d357e;
}
