.menu-button {
    -fx-background-color: #1554b3;
    -fx-text-fill: white;
    -fx-font-size: 16px; /* Adjust font size */
    -fx-padding: 8px 16px; /* Adjust padding */
    -fx-border-radius: 5px;
}

.menu-button:hover {
    -fx-background-color: #0e3a8b;
}
#addAdminButton {
    -fx-background-color: #FB335B;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

#addAdminButton:hover {
    -fx-background-color: #ffff;
}
#addProfessorButton {
    -fx-background-color: #FB335B;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

#addProfessorButton:hover {
    -fx-background-color: #ffff;
}
#welcomeLabel{
    -fx-text-fill: #ffff;
}

.logout-button {
    -fx-background-color: #D32F2F; /* Button background color */
    -fx-text-fill: white; /* Button text color */
    -fx-font-size: 14px; /* Button font size */
    -fx-padding: 8px 16px; /* Button padding */
    -fx-border-radius: 5px; /* Button border radius */
    -fx-background-radius: 5px; /* Button background radius */
    -fx-border-color: #B71C1C; /* Button border color */
}

.logout-button:hover {
    -fx-background-color: #FF5252; /* Button background color on hover */
}
