.bottom{
    -fx-background-color: #1C90E4;
    -fx-background-radius: 50;
}

.gradient{
    -fx-background-color: linear-gradient(to top, #676767, transparent);
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10 ,0 , 0 , 10);
}

.table-view {
    -fx-background-color: #f4f4f4;
}

/* Style pour les cellules */
.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

/* Style pour les headers de colonnes */
.table-column .label {
    -fx-font-weight: bold;
}

/* Style pour les boutons */
.button {
    -fx-background-color: #2d5ccc;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
}

/* Style pour les boutons au survol */
.button:hover {
    -fx-background-color: #1e3b93;
}

/* Style pour les boutons à l'activation */
.button:pressed {
    -fx-background-color: #0e2261;
}

.table-view {
    -fx-background-color: #f4f4f4;
}

/* Style pour les cellules */
.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

/* Style pour les headers de colonnes */
.table-column .label {
    -fx-font-weight: bold;
}

/* Style pour les boutons */
.button {
    -fx-background-color: #2d5ccc;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
}

/* Style pour les boutons au survol */
.button:hover {
    -fx-background-color: #1e3b93;
}

/* Style pour les boutons à l'activation */
.button:pressed {
    -fx-background-color: #0e2261;
}

#anchorPane {
    -fx-background-color: #DFE3EE;
}

#formContainer {
    -fx-background-color: #ffffff; /* White background */
    -fx-border-width: 2px;
    -fx-border-color: black; /* Black border */
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-border-radius: 10px;
}

Label {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #555555;
}

TextField {
    -fx-pref-width: 250px;
    -fx-pref-height: 40px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 5px;
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: #0058AA;
    -fx-padding: 3px;
}

Button {
    -fx-pref-width: 120px;
    -fx-pref-height: 50px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 18px;
    -fx-background-color: #0058AA;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #888888, 10, 0, 0, 0);
    -fx-transition: all 0.3s ease-out;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

Button:hover {
    -fx-background-color: #B2DAFB;
    -fx-effect: dropshadow(three-pass-box, #666666, 10, 0, 0, 0);
    -fx-border-color: #85888E;
}